/* FORM RESPONSE */
.help-block {
  font-size: small;
  color: rgb(255, 82, 62);
}

.compulsory-asterisk {
  display: inline;
  color: rgb(255, 82, 62);
}

div .alert-danger {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* LOADING SCREEN */
#loading-wheel {
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  width: 50px;
}

#loading-fade {
  position: absolute;
  width: 100vw;
  height: 150vh;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: 10;
  transform: translateY(-20%); /* account for NavBar */
}

/* STRIKE */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
