/* GLOBAL COLOUR SCHEME */
:root {
  --red: #ff523e;
  --green: #1fc028;
  --disabled: #5aa2ff;
}

/* FORM */
.form-container {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);

  padding: 20px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

/* FORM RESPONSE */
.help-block {
  font-size: small;
  color: var(--red);
}

.compulsory-asterisk {
  display: inline;
  color: var(--red);
}

div .alert-danger {
  margin-top: 1rem;
  margin-bottom: 0;
}

.text-success {
  color: var(--green);
  font-size: small;
  font-weight: bold;
}

.button-green {
  background-color: var(--green);
}

.text-subtext {
  color: rgb(134, 134, 134);
  font-size: small;
}

/* EVENT LABELS */
.cost-label {
  margin-bottom: 0.25rem;
  color: rgb(190, 177, 54);
  font-weight: bold;
}

.cost-label.free-event {
  color: rgb(22, 163, 29);
}

/* LOADING SCREEN */
#loading-wheel {
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  width: 50px;
}

#loading-fade {
  position: absolute;
  width: 100vw;
  height: 150vh;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: 10;
  transform: translateY(-20%); /* account for NavBar */
}

/* STRIKE */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
