#login-button-container {
  width: 50%;
  margin: 0 auto;
}

#login-button {
  margin-top: 20px;
  width: 100%;
}

.login-forgot-password-container {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-forgot-password {
  font-size: small;
}
