.admin-verified {
  color: rgb(0, 0, 255);
}

.admin-status-button {
  padding-top: 0;
  border: none;
  border-radius: 5px;
}

.admin-status-button-suspended {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.admin-status-button-hover {
  color: orange;
  background-color: rgba(255, 120, 0, 0.1);
}

.admin-status-button-active {
  color: green;
  background-color: rgba(0, 255, 0, 0.1);
}
