.event-gallery-masonry-brick {
  flex: auto;
  max-height: 350px;
  width: fit-content;
  min-width: 150px;
  max-width: 300px;
  margin: 0 8px 8px 0;
}

.card {
  cursor: pointer;
}

.start-time-label {
  margin-bottom: 0.25rem;
  color: rgb(255, 79, 79);
  font-weight: bold;
}

.card-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
