.sorting-container {
  display: flex;
  padding-left: 10px;
}

#sorting-distance-tooltip.disabled .dropdown {
  pointer-events: none;
}

.button-sorting-selector {
  padding-right: 15px;
}

.button-sorting-selector,
.dropdown-sorting-selector {
  background-color: transparent;
  border: none;
  color: rgb(77, 77, 77);
  font-weight: 600;
}

.button-sorting-selector,
.dropdown-sorting-selector {
  /* overrule bootstrap CSS */
  color: rgb(77, 77, 77) !important;
  background-color: transparent !important;
}

.show > .btn-info.dropdown-sorting-selector {
  background-color: transparent;
  color: black;
}
