#profile-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 70%;
  top: 50%;
}

#profile-form-container {
  width: 100%;
}

#profile-subs-container {
  margin-bottom: 0.3rem;
  margin-left: 2%;
  width: 100%;
}

.profile-tabs {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.tab-content {
  height: 100%;
}

.profile-tab {
  height: 100%;
}

#profile-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.1rem;
}

.profile-header {
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
  padding: 0 2px 60px 2px;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
}

.profile-header.selected {
  background-color: rgb(175, 175, 175);
}

#profile-subs-header:after {
  content: '';
  position: absolute;
  background-color: black;
  width: 2px;
  height: 36px;
  top: 22px;
  left: 76.8%;
  cursor: initial;
}

#profile-header-seperator {
  font-size: xx-large;
  font-weight: 200;
}

#notification-label {
  display: inline;
  padding-left: 7px;
  font-size: small;
}

.profile-toggle-pass {
  padding: 0;
  color: #2078bb;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.profile-toggle-pass:hover {
  color: #0e4b79;
}

#profile-save-button-container {
  position: absolute;
  bottom: 0.5rem;
}

#profile-save-button {
  margin-top: 2.5rem;
  font-weight: bold;
  width: 7rem;
}

.text-success {
  margin-top: 0.5em;
  margin-bottom: 0;
}

/*********************
 GEOSUGGEST
**********************/

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: 0.5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}
