#nav-container {
  display: flex;
  height: 100px;
  align-items: center;
  margin-left: 90px;
}

#nav-login-button-container {
  width: 100%;
  text-align: left;
  margin-top: 0;
}

#nav-login-button {
  color: black;
  font-size: large;
}

#img-container {
  display: flex;
  align-items: center;
}
