#filtering-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-bottom: 0;
}

.filtering-text {
  flex: 1 0 auto;
  font-size: larger;
  margin: 6px 10px 15px 0px;
}

#filtering-topic-input {
  height: 30px;
  width: 200px;
  margin-right: 10px;
  border: none;
  color: blue;
  background-color: transparent;
  font-weight: 700;
  font-size: larger;
  overflow: scroll;
}

#filtering-location-input {
  width: 11rem;
  margin-top: 3px;
  padding: 0.2rem 0.2rem;
  color: blue;
  font-weight: 700;
  font-size: larger;
  background-color: transparent; /* rgb(238, 251, 255);*/
  border: none;
  border-bottom: 2px solid blue;
  box-shadow: none; /* 0 0 1px #7c8e9c; */
}
