.eventrow-event-dropdown {
  padding-left: 0;
  bottom: 0.5rem;
}

.eventrow-event-dropdown .dropdown-toggle:after {
  content: none;
}

#collapsible-nav-dropdown {
  padding: 0.5rem 0.5rem;
}

.eventrow-event-dropdown-delete {
  color: var(--red);
}
